.App {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  width: 60%;
  resize: none;
}

.base-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 40px;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.base-input {
  font-weight: bold;
  border: none;
}

.add-button {
  height: auto;
  margin: 0 4px;
  border: none;
  background-color: white;
}

.add-button:hover {
  background-color: grey;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
